bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Api/appsettings.json
.idea
Api/appsettings.json
Api/appsettings.Development.json
Api/Properties/launchSettings.json
.vs
Api/Controllers/TestController.cs
